---
import Base from '../layouts/Base.astro';
import cards from '../data/cards.json';

const cardStackOffset = 30;
---
<Base>
  <div class="wrapper">
    <h1>Card Stack</h1>

    <div class="card-section">
      {cards.map((card, i) => ( 
        <div class="card-container">
          <div class="card" style={`background-color: ${card.colour}; top: calc(-10% + ${i * cardStackOffset}px)`}>
            <h2>{card.title}</h2>
          </div>
        </div>
      ))}
    </div>
  </div>
</Base>

<script>

  import { animate, scroll } from "motion";

  const cardSection = document.querySelector('.card-section');
  const cardContainer = document.querySelectorAll('.card-container');

  cardContainer.forEach((element, i) => {
    const offsetStart = i * 100;
    const offsetEnd = cardContainer.length;

    scroll(animate(element, { scale: [1, 0.5] }), { 
      target: cardSection,
      offset: [ `${offsetStart}vh`, offsetEnd ]
    });
  });
  
</script>

<style>
  .card-section {
    /* border: 1px solid green; */
    padding: 10px;
  }

  .card-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
  }

  .card {
    top: 0;
    position: relative;
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
</style>