---
import Base from '../layouts/Base.astro';
---
<Base>
  <div class="wrapper">
    <h1>Text Animations</h1>

    <section>
      <div class="split-type">
        <h2 class="split">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, suscipit.</h2>
      </div>
    </section> 

    <section>
      <div class="slide-up">
        <h2>Slide up</h2>
      </div>
    </section>

    <section>
      <div class="slide-right">
        <h2>Slide in</h2>
      </div>
    </section> 
  </div>
</Base>

<style>
  h2 {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
  }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-right,
  .slide-up {
    overflow: hidden;
    width: 100%;
    /* border: 1px solid red; */
  }

  .split {
    font-kerning: none;
    font-size: 4rem;
  }
</style>

<script>

  // import { animate } from 'framer-motion';
  import { inView, animate, spring, stagger } from "motion";
  import SplitType from 'split-type';

  
  const slideUp = document.querySelectorAll('.slide-up');
  slideUp.forEach(element => {
    const title = element.querySelector('h2');
    const initial = 100;

    title.style.transform = `translateX(${initial}%)`;

    const properties = {
      y: [`${initial}%`, "0%"]
    }
    const settings = {
      easing: spring()
    }

    inView(element, () => { 
      animate(title, properties, settings)
    },
    { margin: "-50%" })
  });

  const slideRight = document.querySelectorAll('.slide-right');
  slideRight.forEach(element => {
    const title = element.querySelector('h2');

    const initial = -100;

    title.style.transform = `translateX(${initial}%)`;

    const properties = {
      x: [`${initial}%`, "0%"]
    }
    const settings = {
      easing: spring()
    }

    inView(element, () => { 
      animate(title, properties, settings)
    },
    { margin: "-50%" })
  });


  const textSplit = new SplitType('.split');

  document.querySelectorAll('.line').forEach(element => {
    (element as HTMLElement).style.overflow = "hidden";

    element.querySelectorAll('.char').forEach(element => {
      (element as HTMLElement).style.transform = "translateY(200px)";
    });
  });

  inView(".split-type", () => {
    animate(textSplit.chars, { y: [200, 0] }, { delay: stagger(0.015), duration: 0.8 }).finished.then(() => { textSplit.revert() })
  }, { margin: "-25%" })


</script>